<header>
    <div class="header_">
        <a href="/"><span class="logo_"></span></a>
        <a href="/stores" class="header_menu">Stores</a>
        <a href="/api" class="header_menu">API</a>
    </div>
</header>